confluent_kafka
requests
mongoengine
fastapi
uvicorn
# schedule
# datetime
# pytz
# plotly
# pandas_datareaderstreamlit
streamlit
streamlit_option_menu
yfinance
pandas_ta
alpha_vantage
stocknews
pymongo
plotly-express
matplotlib
setuptools
scikit-learn==1.6.1
numpy==1.26.4
pandas==2.2.4
# xmltodict
